body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-width: calc(375px - 2rem);
  
  margin: 1rem;

  border-radius: .625rem;

  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .product-card {
    flex-direction: row;
    justify-content: space-around;
    max-width: calc(600px);
  }
}

.product-card__image {
  width: 100%;
  height: 240px;
  background-image: url('../images/image-product-mobile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .product-card__image {
    height: 420px;
    width: 50%;
    background-image: url('../images/image-product-desktop.jpg');
  }
}


.product-card__info {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .product-card__info {
    width: 50%;
  }
}

.product-card__product-type {
  color: var(--dark-grayish-blue);

  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: var(--medium-weight);
  
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .product-card__name {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

.product-card__name {
  font-size: 2.0rem;
  line-height: 2.0rem;
  font-family: var(--fraunces);
  font-weight: var(--bold-weight);
  color: var(--very-dark-blue);
}

.product-card__description {
  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: var(--medium-weight);
  line-height: 1.25rem;
  color: var(--dark-grayish-blue);
}

.product-card__sale-price {
  font-family: var(--fraunces);
  font-size: 2.25rem;
  font-weight: var(--bold-weight);
  color: var(--dark-cyan);
}

.product-card__regular-price {
  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: var(--medium-weight);
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  vertical-align: middle;
}

.product-card__add-to-cart {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: .25rem;
  width: 100%;
  height: 3.125rem;

  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: var(--medium-weight);
  color: var(--white);
  vertical-align: middle;

  transition: all 300ms;
}

.product-card__add-to-cart-svg {
  width: 16px;
}

.product-card__add-to-cart:hover {
  background-color: var(--very-dark-cyan);
  transform: scale(1.025);
}